{% extends 'base.html' %}

{% block content %}
<div class="client-entry">
  <h2>{{ object.name }} - {{ object.acct_number }}</h2>
    <p>Contact Information: {{ object.cell_phone }} | {{ object.email }}</p>
    <p>Residental Address: {{ object.address }}</p>
    <p>City: {{ object.city }}</p>
    <p>State: {{ object.state }}</p>
    <p>Zipcode: {{ object.zipcode }}</p>
    <p><span class="font-weight-bold">Client Notes:</span></p>
    <p>{{ object.notes }}</p>
  </div>

  <p><a href="{% url 'client_edit' client.pk %}">Edit</a> | <a href="{% url 'client_delete' client.pk %}">Delete</a> |
    <a href="{% url 'comment_new' client.pk %}">Add Comment</a> </p>
  <p>Back to <a href="{% url 'client_list' %}">All Clients</a>.</p>
{% endblock content %}
