{% extends 'base.html' %}

{% block title %}Clients{% endblock title %}

{% block content %}
<h2>All Clients</h2>
  {% for client in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ client.name }} - Account Number: {{ client.acct_number }}</span>
        <span class="font-weight-bold">Phone: {{ client.cell_phone }} | </span>
        <a href="{% url 'client_detail' client.pk %}">More Information</a>
        
        <br><br/>
        {% for vehicle in client.vehicles.all %}
        <span class="font-weight-bold">Vehicle: {{ vehicle.make }} {{ vehicle.model }} </span> <br>
        <span class="font-muted">Last Serviced: {{ vehicle.date_last_serviced }} by {{ vehicle.serviced_by }} </span> <br>
        <span class="font-muted">Serviced Received: {{ vehicle.service_received }} </span> <br>
        {% endfor %}
      </div>
      <div class="card-body">
        <p>Client Notes: {{ client.notes }}</p>
        <a href="{% url 'client_edit' client.pk %}">Edit Client</a> |
        <a href="{% url 'client_delete' client.pk %}">Delete Client</a> |
        <a href="{% url 'comment_new' client.pk %}">Add Comment</a> |
        <a href="{% url 'vehicle_new' %}">Add Vehicle</a> 
      </div>
      <div class="card-footer">
        <span class="font-weight-bold">Employee Comments:</span>
        {% for comment in client.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
        {% endfor %}
      </div>
    <br />
  {% endfor %}
{% endblock content %}
