{% extends 'base.html' %}

{% block title %}Vehicles{% endblock title %}

{% block content %}
{% for vehicle in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">Vehicle: {{ vehicle.make }} {{ vehicle.model }} </span> <br>
        <span class="font-muted">Last Serviced: {{ vehicle.date_last_serviced }} by {{ vehicle.serviced_by }} </span> <br>
        <span class="font-muted">Serviced Received: {{ vehicle.service_received }} </span> <br>
        <span class="font-muted">Owner: {{ vehicle.client }} </span> <br>
      </div>
    <br />
  {% endfor %}
{% endblock content %}
